body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f8f5e9;
    color: #333;
    padding: 0;
}

.music-container {
    width: auto;
    height: auto;
}



